.wrapper{
  max-width: 1024px;
  margin: 40px auto;
  z-index:0;
}

.secondary-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  z-index:0;
}

img{
  margin: 5px 10px;
}


.input{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

#search{
  width: 100%;
  max-width: 300px;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid gray;

}


.caption{
  color: white;
  margin-top: 20px;
  padding-left: 20px;
}


.lb-nav{
  position: relative;
}
.lb-nav a.lb-next {
  position: absolute;
  left: 150px;
  top: 0;
}
.lb-nav a.lb-prev {
  position: absolute;
  left:0;
}

.lb-data .lb-close{
  position: absolute;
  float:none;
  top:-60px;
  right:50px;
}

.lb-container{
  max-width: 400px;
}

@media(min-width: 769px){

.lb-nav a.lb-next {
  left:350px;
}

.lb-nav a.lb-prev {
  left:-200px;
}

.lb-data .lb-close{
  right:80px;

}

.lb-container{
  max-width: 600px;
}

}

@media(min-width: 1025px){

 
  
  .lb-data .lb-close{
    right:500px;
  
  }
  

  
  }